@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");
* { box-sizing: border-box; }

body { font-family: "Quicksand", "Raleway", "Helvetica", sans-serif; margin: 0 auto; background-image: url("/images/bcg.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }

.container { max-width: 100%; width: 1000px; }

::-webkit-input-placeholder { color: ivory; font-family: "Quicksand", "Raleway", "Helvetica", sans-serif; }

:-ms-input-placeholder { color: ivory; font-family: "Quicksand", "Raleway", "Helvetica", sans-serif; }

::placeholder { color: ivory; font-family: "Quicksand", "Raleway", "Helvetica", sans-serif; }

input { height: 40px; width: 250px; color: ivory; margin-top: 15px; border: none; border-radius: 5px; text-align: center; background-color: rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px black; }

button { height: 40px; width: 250px; border: none; border-radius: 10px; background-color: #95a5a5; margin-top: 15px; font-size: 20px; box-shadow: 0 0 10px black; transition: 0.2s all linear; }

button:hover { transform: scale(1.1); box-shadow: 0 0 20px black; cursor: pointer; }

.contactForm { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; padding-top: 30px; padding-bottom: 30px; }

.contactList { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.contactItem { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; background-color: rgba(255, 255, 255, 0.6); border-radius: 10px; padding-top: 40px; width: 40vw; margin-bottom: 20px; padding: 20px; box-shadow: 0 0 10px black; }

.contactInfo { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; padding-left: 15px; }

@media (max-width: 1300px) { .contactItem { width: 50vw; } }
/*# sourceMappingURL=style.css.map */