@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand|Raleway");

// Variables

$font-size-l: 20px;
$black: black;
$ivory: ivory;
$grey: #95a5a5;
$white: white;
$box-shadow: 0 0 10px $black;

// Content

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
  margin: 0 auto;
  background-image: url("/images/bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 100%;
  width: 1000px;
}

::placeholder {
  color: $ivory;
  font-family: "Quicksand", "Raleway", "Helvetica", sans-serif;
}

input {
  height: 40px;
  width: 250px;
  color: $ivory;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: rgba($black, 0.5);
  box-shadow: $box-shadow;
}

button {
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: $grey;
  margin-top: 15px;
  font-size: $font-size-l;
  box-shadow: $box-shadow;
  transition: 0.2s all linear;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px black;
    cursor: pointer;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactItem {
  display: flex;
  justify-content: center;
  background-color: rgba($white, 0.6);
  border-radius: 10px;
  padding-top: 40px;
  width: 40vw;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: $box-shadow;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

@media (max-width: 1300px) {
  .contactItem {
    width: 50vw;
  }
}
